<div class="container">
	<form [formGroup]="loginForm" (ngSubmit)="onSignIn()" id="signIn">
		<h3>Welcome Back !</h3>
		<button class="fb" type="button">Log In With Facebook</button>
		<p>- or -</p>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="username" placeholder="Enter Email" type="text" value="" reqired autocomplete='off'>
      <mat-error *ngIf="f.username.errors && submitted && f.username.errors.required">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Enter Password" type="password" value="" reqired autocomplete='off'>
      <mat-error *ngIf="f.password.errors && submitted && f.password.errors.required">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
		<!-- <button id="btnBack" class="form-btn sx" type="button">Back</button> -->
		<button mat-raised-button class="form-btn w-100 dx" type="submit">Log In</button>
	</form>
</div>