<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button
            class="sidebar-button"
            [matTooltip]="sidebarOpened ? 'Hide demos' : 'Show demos'"
            matTooltipPosition="below"
            [@sidebarButtonState]="sidebarOpened ? 'opened' : 'closed'"
            (click)="toggleSidebar()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button
            *ngIf="activeRouteData !== '/'"
            class="sidebar-button"
            matTooltip="Go back to Start Page"
            matTooltipPosition="below"
            (click)="navigateHome()"
            @homeButtonState>
            <mat-icon>home</mat-icon>
        </button>
        <div class="title">
        </div>
        <span class="fill-remaining-space"></span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="demo-drawer-container"
    autosize>
    <!-- Menu -->
    <mat-drawer #drawer
        class="demo-sidenav"
        mode="side"
        [opened]="sidebarOpened">
        <h1 style="text-align: center">Feature Info</h1>
        <mat-grid-list cols="1" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content>
                        The infomation once
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card >
                    <mat-card-content>
                        The infomation second
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content>
                        The infomation thirdth
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <mat-card-content>
                        The infomation fourth
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- <mat-card *ngFor="let item of items"
            [ngClass]="{'active': activeRouteData === item.number}"
            (click)="navigate(item)">
            <span>
                {{item.title}}
            </span>
        </mat-card> -->
    </mat-drawer>
    <div class="demo-sidenav-content"
        [@routeState]="getAnimationData(rOutlet)">
        <router-outlet #rOutlet="outlet"></router-outlet>
    </div>
</mat-drawer-container>
