<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSignUp()" id="signUp">
		<h3>Tạo thành viên</h3>
    <div class="display-flex">
      <mat-form-field style="margin-right: 10px">
        <mat-label>Họ và tên đệm</mat-label>
        <input matInput formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Nhập họ và tên đệm" type="text" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.firstName.errors && submitted && f.firstName.errors.required">
           Họ và tên đệm là <strong>bắt buộc</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tên</mat-label>
        <input matInput formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Nhập tên" type="text" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.lastName.errors && submitted && f.lastName.errors.required">
            Tên là <strong>bắt buộc</strong>
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Nhập Email" type="email" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.email.errors && submitted && f.email.errors.required">
            Email là <strong>bắt buộc</strong>
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Tài khoản</mat-label>
        <input matInput formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Nhập tài khoản" type="text" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.username.errors && submitted && f.username.errors.required">
            Tài khoản là <strong>bắt buộc</strong>
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Mật khẩu</mat-label>
        <input matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Nhập mật khẩu" type="password" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.password.errors && submitted && f.password.errors.required">
            Mật khẩu là <strong>bắt buộc</strong>
          </mat-error>
          <mat-error *ngIf="f.password.errors && submitted && f.password.errors.minLength">
            Mật khẩu phải có <strong>6 ký tự</strong> hoặc nhiều hơn
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Xác nhận mật khẩu</mat-label>
        <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" matInput placeholder="Enter Confirm Password" type="password" value="" reqired autocomplete='off'>
          <mat-error *ngIf="f.confirmPassword.errors && submitted && f.confirmPassword.errors.required">
            Xác nhận mật khẩu là <strong>bắt buộc</strong>
          </mat-error>
          <mat-error *ngIf="f.confirmPassword.errors && submitted && f.confirmPassword.errors.mustMatch">
            Mật khẩu và xác nhận mật khẩu <strong>phải khớp nhau</strong>
          </mat-error>
      </mat-form-field>
    </div>
    <!-- <div>
        <mat-checkbox matInput formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">I agree to the Terms and Conditions. </mat-checkbox>
        <mat-checkbox matInput formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" > I agree to the Privacy Policy.</mat-checkbox>
    </div> -->
    <button mat-raised-button id="btn-cancel" (click)="cancel()" class="form-btn sx" type="button">Hủy</button>
		<button mat-raised-button class="form-btn dx" type="submit">Đăng ký</button>
  </form>
</div>
