  <mat-card>
  <mat-card-content>
    <div class="mb-2">
      <button mat-mini-fab color="warn" aria-label="">
        <mat-icon>layers</mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Ẩn hiện layers
      </span>
    </div>
    <div class="mb-2">
      <button mat-mini-fab color="primary" aria-label="">
        <mat-icon fontSet="ms" fontIcon="ms-measure-distance"></mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Vẽ đường
      </span>
    </div>
    <div class="mb-2">
      <button mat-mini-fab color="primary" aria-label="">
        <mat-icon fontSet="ms" fontIcon="ms-measure-area"></mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Vẽ khu vực
      </span>
    </div>
    <div class="mb-2">
      <button mat-mini-fab color="primary" aria-label="">
        <mat-icon>gps_fixed</mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Vẽ điểm
      </span>
    </div>
    <div class="mb-2">
      <button mat-mini-fab color="primary" aria-label="">
        <mat-icon>panorama_fish_eye</mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Vẽ vòng tròn
      </span>
    </div>
    <div class="mb-2">
      <button disabled mat-mini-fab color="primary" aria-label="">
        <mat-icon>close</mat-icon>
      </button>
      <span class="text-legend">
        &nbsp;  Kết thúc vẽ
      </span>
    </div>
  </mat-card-content>
</mat-card>
