.ms-measure-distance:before {
    font-size: 15px;
}
.ms-measure-area:before {
    font-size: 15px;
}
.text-legend {
    font-weight: 400;
    font-size: 20px;
}
.mat-mini-fab {
    width: 30px;
    height: 30px;
}
.material-icons {
    font-size: 15px
}
.mat-cart {
    margin: 0.5rem;
}